:root{
    --gray-dark: rgba(39, 39, 39, 0.674);
    --gray-darker: rgba(39, 39, 39, 0.826);
    --gray-light: rgba(65, 65, 65, 0.826);
}

.select{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.select select{
    height: 40px;
    border-radius: 5px;
}

#filterCompanies{
    height: 100%;
    width: 100%;
    background-color: rgb(168, 168, 168);
    text-align: center;
    color: var(--header-color);
    font-size: 20px;
    font-family: var(--monserrat);
}

#selectDepartment{
    height: 35px;
    width: 200px;
    background-color: var(--gray-dark);
    text-align: center;
    color: var(--header-color);
    font-size: 20px;
    font-family: var(--monserrat);
    -webkit-appearance: none;
    border-radius: 5px;
    padding: 0px 5px;
    color: var(--li-color);
    font-size: 16px;
}

#noDepartment{
    -webkit-appearance: none;
    height: 35px;
    background-color: var(--gray-dark);
    text-align: center;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 18px;
    font-family: var(--monserrat);
    color: var(--li-color);
}

.selectStyle:hover{
    -webkit-appearance: none;
    background-image: url('../assets/chevron-down-outline.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 14px;
}

.selectStyle:focus{
    -webkit-appearance: none;
    background-image: url('../assets/chevron-up-outline.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 14px;
}

#company h2{
    font-family: var(--montserrat);
    font-size: 22px;
}

#companyInfo{
    background-color: rgba(39, 39, 39, 0.826);
    color: var(--li-color);
}

.buttonsDepartment{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#description{
    font-size: 12px;
}

.userWorkInfo{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsEditWorker{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 550px){
    .fixedLI{
        flex-direction: column;
        min-height: 150px;
    }
}

aside::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
aside::-webkit-scrollbar-track {
    background: var(--gray-light);        /* color of the tracking area */
}
  
aside::-webkit-scrollbar-thumb {
    background-color: var(--gray-dark);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid var(--gray-light);  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
    
body::-webkit-scrollbar-track {
    background: var(--gray-darker);        /* color of the tracking area */
}
    
body::-webkit-scrollbar-thumb {
    background-color: var(--gray-dark);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--gray-light);   /* creates padding around scroll thumb */
}